



body{
    background-color: #E4BE9E;
}

.frame{
    margin: 30px 150px;
    display:flex;
    flex-direction: column;
}


/*navigator*/

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:15px;
}

li{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    margin:0px;
    margin-left:10px;
    font-size: 20px;
}

h3{
    font-family : 'Montserrat' , sans-serif;
    color:#F5F5DC;
    font-size: 40px;
    margin: 0px;
}

ul{
    margin:0px;
}

.site-name{
    font-family: 'Montserrat', sans-serif; 
    color: #F5F5DC;
    font-size: 40px;  
    margin:0px;
}

.nav-menu{

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

a{
    color:black;
    text-decoration: none;

}

a:hover{
    color:white;
    transition: 0.3s;
}



.dashboard{
    display:flex;
    flex-direction: column;
    margin-top:100px;
}



.korean-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size:50px;
}

.sample{
    background-color: pink;
    -webkit-text-stroke:1px black;
}

.sample:hover{
    background-color: transparent;
    color:white;
    -webkit-text-stroke:1px black;
    transition : none;
}

.highlight{

    color:white;
    -webkit-text-stroke:1px black;

}

.highlight:hover{
    background-color: pink;
    color:black;
    transition:none;
}

.type1:hover{
    background-color: yellowgreen;


}

.type2:hover{
    background-color: thistle;

}

.type3:hover{
    background-color: violet;
}


.english-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight : 200;
    font-size: 15px;
    font-style: italic;

    letter-spacing: -0.3px;


}


.recent-menu{
    font-family:'Montserrat', sans-serif;
    font-size:15px;
    font-weight: 700;
    color: #F5F5DC;

    display: inline;
    align-self: flex-end;
    margin-top:100px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items:center;

    margin-bottom:300px;
}

.contact{
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    font-weight: 700;
    color:#F5F5DC;
    border-bottom: 2px solid  #F5F5DC ;
    margin-bottom:20px;
}

.links>a{
    font-size: 20px;
    margin-left:10px;   
}

.footer>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight : 200;
    font-size: 15px;
    font-style: italic;
    margin-top: 20px;
    letter-spacing: -0.3px;
}


.profile-section{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;
}

#profile-picture{
    width: 400px;
    margin-right: 60px;
}

.introduction>h2{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size : 35px;
}

.introduction>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size : 16px;

    margin-bottom : 40px;   
}

#capability{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}


.value-menu{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin: 30px 100px
}

.value-section{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: 100px 150px;
    margin-top: 20px;
}

.value{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}

.value-icon{
    width: 100px;
    height: 100px;
    padding : 10px;
    border : 2px solid #F5F5DC;
    border-radius: 100px;
}

.value-intro{
    margin-left : 30px;
}
.footer-comment{
    text-align: center;

}

.value-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    margin-top : 0px;
    margin-top : 5px;
}

.value-exp{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;

    margin : 0px;
}

a[title="Freepik"]:hover{
    color: black;
    text-decoration: underline;
}

a[title="Flaticon"]:hover{
    color:black;
    text-decoration: underline;
}

.recent-works{
    display:flex;
    flex-direction:column;
}

.article{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    align-items: center;
}

.thumbnail{
    width: 600px;


}


.article-info{
    margin:0px 20px;

}

.article-name{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    color:black;
    margin-top:0px;
}


.article-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 10;
}

button{
    font-size: 14px;
    width: fit-content;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    padding : 0px;
}

.value-icon1{
    width: 100px;
    height: 100px;
    padding : 10px;
    border : 2px solid #F5F5DC;
    border-radius: 100px;
}

