*{
    padding:0;
    margin: 0;
}

.container{
    max-width:700px;
    margin:0 auto;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.domain{
    margin-left: 503.5px;
    margin-top:-167.5px;
}

.nav{
    margin-top: -167.5px;
    margin-right: 503.5px;
}
header{
    position: fixed;
    top:100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding:1.2rem 0; 
}
header>a{
    font-size: 1.5rem;
    font-weight:700;
    color:white;
    text-decoration: none;
}

.album:hover{
    background-color: gray;
}
header>a:hover{
    letter-spacing: 1px;
    font-size: 1.6rem;
    transition:0.5s;
}

.current{
    color:rgb(124, 124, 124);
}

.current:hover{
    letter-spacing: 1px;
    text-decoration: underline 3px rgb(124, 124, 124);
    transition: 0.3s;
}


.pic{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top:3px;

}
.pictureme{
    margin-top: 120px;
    margin-right: 10px;
    margin-left: 485px;
    width: 13.5%;
    margin-bottom: 0px;
}

.pictureme:hover{
    width:15%;
    transition: 0.5s;
}
.info{
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-top:120px;
    margin-bottom: 0px;
}


.introduction{
    max-height: 700px;
    max-width: 700px;
    margin-top:43px;
    margin-left: 405px;
    border-top: 0.1px solid white;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: 50;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    padding: 0px 0;
}

header>ul{
    display: flex;
}

header>ul>li{
    list-style-type:none;
    margin-left: 1.5rem;
}

header>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800; 
    padding-bottom: 5px;
    color:white;
}

header>ul>li>a:hover{
    border-bottom:5px solid gray;
    color:rgb(121, 121, 121);
    transition: 0.3s;

}

@keyframes sc{
    from{
        transform: scale(0.95);
    }
    to{
        transform: scale(1);
    }
}
.page1{
    animation-name:sc;
    animation-duration: 1s;
}
header>p:hover{
    
    transition: 0.3s
}
body{
    background-color: #333;
    color:white;
}


@keyframes down{
    from{
        margin-top:-1%
    }
    to{
        margin-top:0%;
    }
}

@keyframes up{
    from{
        margin-top:10%;

    }
    to{
        margin-top:0%;
    }
}
section{
    padding: 0 3rem;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 250px;

}




section>p:first-child{
    font-size:2rem;
    font-weight:900;

}

section>p:last-of-type{
    font-size: 1.3rem;
    font-weight:500;

}

section>p{
    margin-bottom:2rem;
    animation-duration: 1s;
    animation-name: down;
}

section>a{
    display: block;
    border:1px solid black;
    width:150px;
    font-size: 1.3rem;
    font-weight: 600;
    margin:auto;
    padding:1rem;
    border-radius:10px;
    text-decoration: none;
    background-color: white;
    color:black;
    animation-duration: 1s;
    animation-name: down;
    font-family: 'Montserrat', sans-serif;
}

section>a:hover{
    letter-spacing: 2px;
    background-color: rgb(247, 216, 216);
    transition:0.4s;
    
}

.tmi{
    font-size: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}




.introduction>a{
    color:white;
    text-decoration: none;
}

.but{
    border:1px solid white;
    background-color: #333;
    color:white;
    padding:5px;
    font-family: 'Noto Sans KR',sans-serif;
    border-radius: 5px;
    margin-top:0px;

}
.but:hover{
    background-color: white;
    color:black;
    letter-spacing: 1px;
    transition:0.3s;
}

.archieve{
    display: flex;
    flex-direction: column;
    margin-top:60px;
    
}

.article{
    display: flex;
    flex-direction: row;
    
}

.arti-comment{
    text-align: left;
    margin-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

a[title="articomment"]{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}
.thumbnail{
    width:25%;
    
    margin-left: 200px;
}

.thumbnail:hover{
    width:30%;
    transition: 0.5s;
}

.fam{
    position:relative;
    top:-300px;
    background-color: #333;
    color:white;
    padding:5px;
    font-family: 'Noto-Sans KR', sans-serif;
    border-radius: 5px;
    margin-top: 0px;
    font-size: 15px;
    margin-right: 10px;
}
.introduction>a:hover{
    color:gray;
    text-decoration: underline;
    letter-spacing: 3px;
    transition: 0.3s;
}
.hafs{
    color:white;
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

#wrap .page {
    scroll-snap-align: center;
    display: inline-block;
    width: 100%;
    height: 100vh;
    padding: 100px;
    font-size: 70px;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
}

.hafs:hover{
    color:gray;
    transition:0.3s;
}

.hihi:hover{
    letter-spacing: 2px;
    transition: 0.3s;
}

.butt{
    text-decoration: underline 1px black;
}

.diary{
    text-decoration: none;
}
.fam{
    text-decoration: none;
}
section>p>a{
    text-decoration: underline;
}

.butt>a:hover{
    text-decoration: underline 3px gray;
    letter-spacing: 2px;
    transition: 0.3s;
}
@keyframes lef{
    from{
        margin-left:0px;
    }
    to{
        margin-left:24px;
    }
}

@keyframes rig{
    from{
        margin-right: 0px;
    }
    to{
        margin-right: 24px;
    }
}


.kr{
    margin-top: 100px;
    text-align: right;

}

footer{
    margin-bottom:2rem;
    font-size:1.1rem;
    color:gray;
}

footer>a{
    text-decoration: none;
    color:white;
}