*{
    padding:0;
    margin: 0;
}

.container{
    max-width:700px;
    margin:0 auto;
    box-sizing: border-box;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding:1.2rem 0; 
}
header>a{
    font-size: 1.5rem;
    font-weight:700;
    color:white;
    text-decoration: none;
}

header>a:hover{
    letter-spacing: 1px;
    font-size: 1.6rem;
    transition:0.5s;
}

@media screen and (max-width:600px){
    header{
        flex-direction: column;
    }
    .container{
        position: static;
    }
    .pictureme{
        margin-top: 150px;
        width:300px;
    }
    .info{
        margin-top: 150px;
        font-weight: 50;
        font-size: 10px;
    }
    .introduction{
        margin-top: 200px;
        letter-spacing: 0px;
    }
    button{
        margin-top:500px;
    }
}

@media screen and (max-height:1200px){

}
header>ul{
    display: flex;
}

header>ul>li{
    list-style-type:none;
    margin-left: 1.5rem;
}

header>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800; 
    padding-bottom: 5px;
    color:white;
}

header>ul>li>a:hover{
    border-bottom:5px solid gray;
    color:rgb(121, 121, 121);
    transition: 0.3s;

}


header>p:hover{
    
    transition: 0.3s
}
body{
    background-color: #333;
    color:white;
}


@keyframes down{
    from{
        margin-top:-5%
    }
    to{
        margin-top:0%;
    }
}

@keyframes up{
    from{
        margin-top:10%;

    }
    to{
        margin-top:0%;
    }
}
section{
    padding: 0 3rem;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;

}




section>p:first-child{
    font-size:2rem;
    font-weight:900;

}

section>p:last-of-type{
    font-size: 1.3rem;
    font-weight:500;

}

section>p{
    margin-bottom:2rem;
    animation-duration: 1s;
    animation-name: down;
}

section>a{
    display: block;
    border:1px solid black;
    width:150px;
    font-size: 1.3rem;
    font-weight: 600;
    margin:auto;
    padding:1rem;
    border-radius:10px;
    text-decoration: none;
    background-color: white;
    color:black;
    animation-duration: 1s;
    animation-name: down;
    font-family: 'Montserrat', sans-serif;
}

section>a:hover{
    letter-spacing: 2px;
    background-color: rgb(247, 216, 216);
    transition:0.4s;
    
}

.tmi{
    font-size: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pictureme{
    width:200px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    animation-duration: 1s;
    animation-name: down;
    align-items: center;

}

.pictureme2{
    width:200px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    animation-duration: 1s;
    animation-name: lef;
    align-items: center;

}

.pic2{
    display: flex;
    flex-direction: row;
    position:relative;
    
    align-items: center;
    top:-100px;
    left:-20px;

}

.pictureme2:hover{
    width:250px;
    transition:0.3s;
}
.pictureme:hover{
    width:250px;
    transition:0.3s;
}

.info{
    margin-left: 20px;
}
.pic{
    display: flex;
    flex-direction: row;
    position:relative;
    margin-bottom: 0px;
    align-items: center;
    max-width: 700px;
    left:-20px;
    top:-50px;
}

.introduction{
    max-height: 700px;
    max-width: 700px;
    position: relative;
    top:-190px;
    width:70%;
    border-top: 0.1px solid white;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: 50;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    padding: 0px 0;
}

.introduction>a{
    color:white;
    text-decoration: none;
}

.but{
    border:1px solid white;
    background-color: #333;
    color:white;
    padding:5px;
    font-family: 'Noto Sans KR',sans-serif;
    border-radius: 5px;
    margin-top:0px;
    position: relative;
    top:-720px;
    left:250px;
}
.but:hover{
    background-color: white;
    color:black;
    letter-spacing: 1px;
    transition:0.3s;
}
.introduction>a:hover{
    color:gray;
    text-decoration: underline;
    letter-spacing: 3px;
    transition: 0.3s;
}
.hafs{
    color:white;
    text-decoration: none;
}

.hafs:hover{
    color:gray;
    transition:0.3s;
}

.hihi:hover{
    letter-spacing: 2px;
    transition: 0.3s;
}
section>p>a{
    text-decoration: underline;
}
@keyframes lef{
    from{
        margin-left:0px;
    }
    to{
        margin-left:50px;
    }
}

@keyframes rig{
    from{
        margin-right: 0px;
    }
    to{
        margin-right: 50px;
    }
}


.kr{
    margin-top: 100px;
    text-align: right;

}

footer{
    margin-bottom:2rem;
    font-size:1.1rem;
    color:gray;
}

footer>a{
    text-decoration: none;
    color:white;
}